<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>title</key>
		<string>Bugly堆栈</string>
		<key>content</key>
		<string>指的是App通过Bugly平台上报的崩溃日志，部分出现解析失败或解析错误的堆栈，可以单独拷贝到工具中可以解析。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_crash</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>239</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>title</key>
		<string>1. 拷贝日志</string>
		<key>content</key>
		<string>打开bugly页面崩溃详情页后，出错堆栈中找到需要解析的堆栈后，点击右侧的“原始”按钮。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_copy</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>251</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>title</key>
		<string></string>
		<key>content</key>
		<string>从堆栈顺序开始进行选中，拷贝所有该线程中的堆栈，并粘贴到文本框中，点击“开始”。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_select</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>294</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_paste</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>386</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>title</key>
		<string>2.指定进程名以及起始地址</string>
		<key>content</key>
		<string>由于从bugly拷贝的堆栈中不包含当前进程信息，进程的起始地址，UUID或者符号表等信息，需要指定一下。如：</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_main</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>386</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>title</key>
		<string>进程名</string>
		<key>content</key>
		<string>Bugly详情页中出现异常进程名，将该进程名拷贝到“进程名”中。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_process</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>126</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>title</key>
		<string>包起始地址</string>
		<key>content</key>
		<string>Bugly详情页中“出错堆栈”右侧点击“其他信息”Tab，会出现所有与当前包相关的信息，其中包起始地址为&quot;App base addr&quot;的字段所对应的值，拷贝到“包起始地址”中。
此外⚠️，若您的Bugly详情页中没有其他信息，找不到App base addr字段，您可以不输入起始地址，我们会帮忙计算。过程可能比较久，您需要耐心等待，因此您尽量输入起始地址，会迅速地完成解析任务！</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_start</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>305</integer>
	</dict>
	<dict>
		<key>type</key>
		<string>text</string>
		<key>title</key>
		<string>UUID</string>
		<key>content</key>
		<string>可选地，若您的App已经接入ici平台，输入包的UUID，会自动下载符号表自动进行解析。获取UUID方式：Bugly详情页中“出错堆栈”右侧点击“其他信息”Tab，会出现所有与当前包相关的信息，其中包起始地址为&quot;App UUID&quot;的字段所对应的值，拷贝到“UUID”中。
⚠️UUID直接拷贝即可，不需要插入&quot;-&quot;符号或者去掉&quot;-&quot;符号。</string>
	</dict>
	<dict>
		<key>type</key>
		<string>image</string>
		<key>content</key>
		<string>bugly_uuid</string>
		<key>width</key>
		<integer>480</integer>
		<key>height</key>
		<integer>329</integer>
	</dict>
</array>
</plist>
