*{margin:0; padding:0;}

body {font:76% Verdana,Tahoma,Arial,sans-serif;line-height:1.4em;text-align:center;
      color:#323232; background:#ededed url(font.png) repeat-x center top; }

#container {background-color: white; border:0.1em solid #777; color:#323232;
            margin:2em auto; text-align:left; width:68.2em; }

#header {height:10.1em; width:63.8em; background:#336699; color:#fff; border:0.1em solid #2F4A6C;
         margin:0.5em;}

#footer {clear:both; width:63.8em; margin-top:1em; padding:0.4em 0; font-size:0.9em;
         color:#f0f0f0; background:#336699; margin:0.5em; border:0.1em solid #2F4A6C;
         text-align:center;}

#navigation{float:right; line-height:2.1em;color:#ccc;white-space:nowrap; vertical-align: top; padding-left: 10px; padding-bottom: 10px; margin-left: 10px;}

#navigation li {list-style-type:none; white-space:nowrap;}

#navigation li a {display:block; width:17em; padding:0 0.6em; font-size:0.8em;
                  font-weight:normal; text-transform:uppercase; text-decoration:none;
                  color: #444; border:1px solid #ddd; margin-bottom:0.2em;
                  text-align:center; background-color:#eee;}

#navigation li a:hover {color:#fff; text-decoration:none; background-color:#008000;
                        border:1px solid #558822;}


#title {font-size:2.3em;}
#subtitle {font-size:1.2em;margin-top:0.7em;}


#content {margin-right:1em;padding:1em 2em 1em; margin-bottom:0px;}
#content h1{font-size:1.2em;font-weight: bold; margin-bottom: 15px;}
#content h2{font-size:1.2em;font-weight: bold;}
#content h3{font-size:1.2em;font-weight: bold; margin-top: 15px; margin-bottom: 15px;}
#content td { padding: 2px; }

.keyword {color: rgb(0,0,255);}
.str {color: #8B0000;}
.cstype { color: #2B91AF; }

pre a {text-decoration: none; color: #8B0000; }
pre a:hover { text-decoration: underline; }


.ex {color:#336699;text-decoration:none;font-weight:normal;}
.ex:hover{color:#336699;text-decoration:underline;}


.lsw {float:right; display: block; font:9px Verdana,Tahoma,Arial,sans-serif;}

#doc { font-size: 15px; margin-left: 3.6em; line-height:1.6em; }
#doc li a {color: #000000; text-decoration: none; }
#doc li a:hover { color: #000000; text-decoration: underline; }
#doc div { font-size: 12px; font-family: Verdana; line-height: 1.5em; margin-top: 1.5em; }

.doch { font-size:1.2em;font-weight: bold; padding-left:1.7em; padding-top:12px; }
.doch a {color: #000000; text-decoration: none; }

#fdescr li { margin-top:16px; }
#fdescr div { font-size: 12px; font-family: Verdana; line-height: 1.5em; margin-top: 0.5em; }
#fdescr li div a { color: rgb(0,0,238); text-decoration: underline; }

.descr { font-size: 12px; font-family: Verdana; line-height: 1.4em;}


.fname { font-weight: normal; color: #A52A2A;}

.helptable { border-collapse:collapse; margin-top: 8px; }
.helptable td { border: 1px solid #ddd; padding: 5px; }
.helptable thead td { background-color:#999;border:1px solid #2F4A6C;color:#fff;padding:4px; text-align:center; padding: 1px; font-weight: bold;}

.colortable { border-collapse:collapse; margin-top: 8px; }
.colortable td { border: 1px solid black; padding: 2px 5px; }
.colortable thead td { background-color:#999; border:1px solid #2F4A6C; color:#fff; padding:4px; text-align:center; padding: 1px; font-weight: bold;}

.docbottomlinks { margin-left: 2em; margin-top: 12px; margin-bottom: 4px; }

.blinks { margin-top: 12px; margin-bottom: 4px; }



.aligntable { border-collapse:collapse;}
.aligntable td { padding: 0px; border: 0px; }

.doc { font-size: 15px; line-height:1.6em; margin-left: 20px; }
.doc li a {color: #000000; text-decoration: none; }
.doc li a:hover { color: #000000; text-decoration: underline; }
.doc li div { font-size: 12px; font-family: Verdana; line-height: 1.5em; margin-bottom: 10px; }
.doc li div a { color: rgb(0,0,238); text-decoration: underline; }

.doc h3 { font-size:15px;font-weight: bold; margin-left:-30px; padding-top: 12px; padding-bottom: 10px;}
.doc h3 a {color: #000000; text-decoration: none; }


h3 a {color: #000000; text-decoration: none; }

.roundedcornr_box_577630 {
   background: #e6e6e6;
}
.roundedcornr_top_577630 div {
   background: url(roundedcornr_577630_tl.png) no-repeat top left;
}
.roundedcornr_top_577630 {
   background: url(roundedcornr_577630_tr.png) no-repeat top right;
}
.roundedcornr_bottom_577630 div {
   background: url(roundedcornr_577630_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_577630 {
   background: url(roundedcornr_577630_br.png) no-repeat bottom right;
}

.roundedcornr_top_577630 div, .roundedcornr_top_577630, 
.roundedcornr_bottom_577630 div, .roundedcornr_bottom_577630 {
   width: 100%;
   height: 10px;
   font-size: 1px;
}
.roundedcornr_content_577630 { margin: 0 10px; }
